<div class="mat-elevation-z8 table-container">
  <app-search-ocena-form (searchHost)="onSearchHostItem($event)">
  </app-search-ocena-form>
  <div *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="ime">
        <th scope="col" mat-header-cell *matHeaderCellDef>Ime</th>
        <td element-group="hostItemIme" mat-cell *matCellDef="let hostItem">
          {{ hostItem.ime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="prezime">
        <th scope="col" mat-header-cell *matHeaderCellDef>Prezime</th>
        <td element-group="hostItemPrezime" mat-cell *matCellDef="let hostItem">
          {{ hostItem.prezime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="prosecnaOcena">
        <th scope="col" mat-header-cell *matHeaderCellDef>Prosečna ocena</th>
        <td
          element-group="hostItemProsecnaOcena"
          mat-cell
          *matCellDef="let hostItem"
        >
          {{ hostItem.prosecnaOcena }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let host">
          <mat-grid-list cols="3">
            <mat-grid-tile>
              <button
                id="viewHostBtn"
                mat-mini-fab
                color="primary"
                matTooltip="Pogledaj detalje o korisniku"
                (click)="onViewHost(host.id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div *ngIf="dataSource.data.length === 0 && waitingResults === false">
    <app-such-empty></app-such-empty>
  </div>
  <div id="pagination-row">
    <div id="spinner-box">
      <mat-spinner
        [diameter]="40"
        [hidden]="!waitingResults"
        id="loading-spinner"
      ></mat-spinner>
    </div>
    <mat-paginator
      [pageSizeOptions]="[1, 5, 10, 20]"
      [pageSize]="pageSize"
      [pageIndex]="pageNum"
      [length]="totalElements"
      showFirstLastButtons
      aria-label="Select page"
      (page)="onSelectPage($event)"
    >
    </mat-paginator>
  </div>
</div>
